USE [master]
GO
/****** Object:  Database [TexDB]    Script Date: 25.01.2023 13:34:37 ******/
CREATE DATABASE [TexDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TexDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\TexDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TexDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\TexDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TexDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TexDB]
GO
USE [TexDB]
GO
/****** Object:  Table [dbo].[Competition]    Script Date: 25.01.2023 13:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competition](
	[id_competition] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](max) NULL,
	[date_start] [date] NULL,
	[date_end] [date] NULL,
	[sity] [varchar](max) NULL,
	[description] [varchar](max) NULL,
 CONSTRAINT [PK_Competition] PRIMARY KEY CLUSTERED 
(
	[id_competition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competition_skill]    Script Date: 25.01.2023 13:34:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competition_skill](
	[competition_id] [int] NOT NULL,
	[skill_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regions]    Script Date: 25.01.2023 13:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regions](
	[Код] [varchar](50) NULL,
	[Название региона] [varchar](50) NULL,
	[Столица] [varchar](50) NULL,
	[Округ] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 25.01.2023 13:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id_role] [int] IDENTITY(1,1) NOT NULL,
	[role] [varchar](max) NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill]    Script Date: 25.01.2023 13:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill](
	[id_skill] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](max) NULL,
	[skill_block_id] [int] NULL,
	[is_future] [int] NULL,
	[PlaseSize] [int] NULL,
	[RoomSize] [int] NULL,
	[Brif] [int] NULL,
	[SkladSize] [int] NULL,
	[Players] [int] NULL,
	[description] [varchar](max) NULL,
 CONSTRAINT [PK_skill] PRIMARY KEY CLUSTERED 
(
	[id_skill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skill_block]    Script Date: 25.01.2023 13:34:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skill_block](
	[id_skill_block] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](max) NULL,
 CONSTRAINT [PK_skill_block] PRIMARY KEY CLUSTERED 
(
	[id_skill_block] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Competition] ON 

INSERT [dbo].[Competition] ([id_competition], [title], [date_start], [date_end], [sity], [description]) VALUES (112, N'Мировой чемпионат по профессиональному мастерству WorldSkills Abu Dhabi 2017', CAST(N'2017-11-14' AS Date), CAST(N'2017-11-19' AS Date), N'Абу-Даби', N'"<p>С 14 по 19 октября 2017 года в г. Абу-Даби (ОАЭ) прошел мировой чемпионат по профессиональному мастерству WorldSkills Abu Dhabi 2017. В нем приняли участие 1300 конкурсантов и более 1500 экспертов из 59 стран по 51 компетенции (49 &ndash; основные, 2 &ndash; презентационные).</p>')
INSERT [dbo].[Competition] ([id_competition], [title], [date_start], [date_end], [sity], [description]) VALUES (114, N'Чемпионат Европы по профессиональному мастерству EuroSkills Gothenburg 2016', CAST(N'2016-12-01' AS Date), CAST(N'2016-12-03' AS Date), N'Гётеборг', N'"<p>С 1 по 3 декабря 2016 года в Швеции прошел пятый чемпионат Европы по профессиональному мастерству EuroSkills 2016.</p>')
SET IDENTITY_INSERT [dbo].[Competition] OFF
INSERT [dbo].[regions] ([Код], [Название региона], [Столица], [Округ]) VALUES (N'1', N'Республика Адыгея', N'Майкоп', N'Южный')
INSERT [dbo].[regions] ([Код], [Название региона], [Столица], [Округ]) VALUES (N'2', N'Республика Башкортостан', N'Уфа', N'Приволжский')
INSERT [dbo].[regions] ([Код], [Название региона], [Столица], [Округ]) VALUES (N'3', N'Республика Бурятия', N'Улан-Удэ', N'Сибирский')
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id_role], [role]) VALUES (1, N'Участник')
INSERT [dbo].[role] ([id_role], [role]) VALUES (2, N'Эксперт')
INSERT [dbo].[role] ([id_role], [role]) VALUES (3, N'Гланый эксперт')
SET IDENTITY_INSERT [dbo].[role] OFF
SET IDENTITY_INSERT [dbo].[skill] ON 

INSERT [dbo].[skill] ([id_skill], [title], [skill_block_id], [is_future], [PlaseSize], [RoomSize], [Brif], [SkladSize], [Players], [description]) VALUES (156, N'Аддитивное производство', 3, 1, 4, 9, 22, 8, 2, N'"<p>&nbsp;</p>')
GO
SET IDENTITY_INSERT [dbo].[skill] OFF
SET IDENTITY_INSERT [dbo].[skill_block] ON 

INSERT [dbo].[skill_block] ([id_skill_block], [title]) VALUES (1, N'Информационные и коммуникационные технологии')
INSERT [dbo].[skill_block] ([id_skill_block], [title]) VALUES (2, N'Образование')
INSERT [dbo].[skill_block] ([id_skill_block], [title]) VALUES (3, N'Производство и инженерные технологии')
SET IDENTITY_INSERT [dbo].[skill_block] OFF
ALTER TABLE [dbo].[competition_skill]  WITH CHECK ADD  CONSTRAINT [FK_competition_skill_Competition] FOREIGN KEY([competition_id])
REFERENCES [dbo].[Competition] ([id_competition])
GO
ALTER TABLE [dbo].[competition_skill] CHECK CONSTRAINT [FK_competition_skill_Competition]
GO
ALTER TABLE [dbo].[competition_skill]  WITH CHECK ADD  CONSTRAINT [FK_competition_skill_skill] FOREIGN KEY([skill_id])
REFERENCES [dbo].[skill] ([id_skill])
GO
ALTER TABLE [dbo].[competition_skill] CHECK CONSTRAINT [FK_competition_skill_skill]
GO
ALTER TABLE [dbo].[skill]  WITH CHECK ADD  CONSTRAINT [FK_skill_skill_block] FOREIGN KEY([skill_block_id])
REFERENCES [dbo].[skill_block] ([id_skill_block])
GO
ALTER TABLE [dbo].[skill] CHECK CONSTRAINT [FK_skill_skill_block]
GO
USE [master]
GO
